@import "tailwindcss";

body {
    @apply bg-blue-950 text-amber-100;
}

h1 {
    @apply text-white text-3xl xl:text-5xl font-bold uppercase;
}

h2 {
    @apply text-xl md:text-3xl font-bold uppercase;
}

h3 {
    @apply text-xl md:text-2xl font-bold uppercase;
}

h4 {
    @apply text-base text-amber-600 font-bold uppercase;
}

p {
    @apply text-blue-300;
}

/* header */
.nav-link {
    @apply text-blue-950 text-lg px-5 py-3 duration-300 block font-bold lg:text-amber-100;
}

.nav-link:hover {
    @apply bg-blue-900 text-white;
}


/* button */
.btn {
    @apply border border-amber-100 text-amber-100 bg-amber-100 px-5 py-2 duration-300 uppercase;
}

.btn:hover {
    @apply opacity-90;
}

.btn_outline {
    @apply bg-transparent;
}

.btn_outline:hover {
    @apply bg-amber-100 text-blue-950;
}

/* carousel */
.carousel {
    @apply relative;
}

.carousel_inner {
    @apply w-full overflow-hidden after:content-[""] after:block clear-both;
}

.carousel_item {
    @apply relative float-left hidden w-full mr-[-100%];
}

/* slide effect */
.carousel_item_active,
.carousel_item_pos_next,
.carousel_item_pos_prev {
    @apply block;
}

.carousel_item_pos_next {
    @apply left-full;
}

.carousel_item_pos_prev {
    @apply left-[-100%];
}

.carousel_item_prev {
    @apply translate-x-full duration-500 ease-in-out;
}

.carousel_item_next {
    @apply -translate-x-full duration-500 ease-in-out;
}

.casousel_img {
    @apply block w-full;
}

/* fade effect */
/* .carousel_fade .carousel_item_pos_next {
    @apply left-0 opacity-0;
}

.carousel_fade .carousel_item_next {
    transform: none;
    @apply opacity-100 duration-500 ease-in-out;
}

.carousel_fade .carousel_item_active.carousel_item_next {
    @apply opacity-0;
} */

.carousel_item h4 {
    transform: translateY(-20px);
    opacity: 0;
    animation: showContent 0.5s linear forwards;
}

.carousel_item h4:nth-child(1) {
    animation-delay: 0.6s;
}

.carousel_item h4:nth-child(2) {
    animation-delay: 0.8s;
}

.carousel_item h4:nth-child(3) {
    animation-delay: 1.0s;
}

.carousel_item h4:nth-child(1) {
    animation-delay: 1.2s;
}

@keyframes showContent {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}